<div class='footer-container'>
    <div class="contenedor container">
        <div class="footer-contact">
            <ul class="d-flex">
                <li class="space"><a href="#">Facebook</a></li>
                <li class="space"><a href="#">Instagram</a></li>
                <li class="space"><a href="#">contact@fundation.com</a></li>
            </ul>
        </div>
        <div class="footer-logo">
            <span></span>
            <p>® Fundación Oxigeno 2021</p>
        </div>
    </div>
    
</div>