<div class="contenedor-index">
    <section id = "plans" class="main-plans-container">
        <div class="main-plan__title">
            <h2>Conoce nuestras ofertas</h2>
        </div>

        <section  class="plans-container container">
            <article class="plans-container--card" id="realiza">
                <h3 class="recommended">Realizar Donacion</h3>
                <div class="card-text">
                    <p>
                        Al realizar una donacion estas ayudando a quienes
                        más lo necesitan en estos difíciles momentos. Brinda
                        felicidad y ayuda a quienes más lo necesitan realiza una
                        donación
                    </p>
                </div>
                <p class='info'>Tanques donados actualmente: 87</p>

            </article>

            <article class="plans-container--card" id="solicita">
                <h3 class="recommended">Solicitar Donacion </h3>
                <div class="card-text">
                    <p>
                        Si necesitas ayuda para conseguir algún tipo de suministro
                        médico, revisa nuestro catalogo y solicita aquello que necesites.
                        Nosotros y la bondad de la gente te ayudaremos a salir adelante.
                    </p>
                </div>
                <p class='info'>Tanques entregados actualmente: 76</p>
            </article>
        </section>
    </section>
</div>