<div class="contenedor-index">
    <section id = "plans" class="main-plans-container">
        <div class="main-plan__title">
            <h2>Conoce nuestras ofertas</h2>
        </div>

<%# Prueba de usar la variable retornada en el metodo index del controller home_controller %>
        <% @response.each do |resp| %>
        <p><%= resp["name"] %> </p>
<% end%>

        <section  class="plans-container container">
            <article class="plans-container--card" id="realiza">
                <h3 class="recommended">Realizar Donacion</h3>
                <div class="card-text">
                    <p>Al realizar una donacion estas ayudando a quienes
                    mas lo necesitan en estos dificiles momentos. Brinda
                    felicidad y ayuda a quienes mas lo necesitan realiza una
                    donacion</p>
                </div>
                
            </article>

            <article class="plans-container--card" id="solicita">
                <h3 class="recommended">Solicitar Donacion </h3>
                <div class="card-text">
                    <p>Si necesitas ayuda para conseguir algun tipo de suministro
                    medico, revisa nuestro catalogo y solicita aquello que necesites.
                    Nosotros y la bondad de la gente te ayudaremos a salir adelante.</p>
                </div>
            </article>
            
        
        </section>
    </section>
</div>