<div class='container-Realizar-Donacion container'>
    <div class ="title">
        <h1>Realizar Donacion</h1>
    </div>
    <form action="" class='form-datos-donador'>
        <fieldset>
            <legend>Datos  Personales</legend>

            <label for="nombre">Cual es tu nombre?</label>
            <input type="text" name="nombre" id="nombre" autocomplete="name" placeHolder='Ingrese nombre'>
            
            <label for="cedula">Cedula</label>
            <input type="number" name="cedula" id="cedula" required autocomplete="cedula" placeHolder='Ingrese Cedula'>
        </fieldset>

    <div class ="title">
        <h2>productos</h2>
    </div>
    
    <section  class="donacion-container--slider container ">
            <article class="donacion-container--card">
                <div id="tanque" class='img-producto'></div>
                <div class='container-donacion--number'>
                    <p>Tanque Oxigeno </p>
                        <fieldset class='datos-cantidad-donar'>
                            <label for="cantidad">Cantidad</label>
                            <input type="cantidad" name="cantidad" id="cantidad" required placeHolder='Ingrese cantidad'>
                            <input type="submit" name="Donar" id="btn-tanque" class='button'value='Donar'onClick="realizar_Donacion(tanque,1,document.getElementbyId('cantidad').value)">
                        <fieldset>
                    
    
                </div>
            </article>

            <article class="donacion-container--card">
                <div id="mascarilla" class='img-producto'></div>
                <div class='container-donacion--number'>
                    <p>Mascarilla </p>
                    
                        <fieldset class='datos-cantidad-donar'>
                            <label for="cantidad">Cantidad</label>
                            <input type="cantidad" name="cantidad" id="cantidad" required placeHolder='Ingrese cantidad'>
                            <input type="submit" name="Donar" id="btn-mascarilla" class='button'value='Donar' onClick="realizar_Donacion(name,2,document.getElementbyId('cantidad').value)">
                        <fieldset>
                    
                </div>
                        
            </article>  

            <article class="donacion-container--card">
                <div id="guantes" class='img-producto'></div>
                <div class='container-donacion--number'>
                    <p>Guantes </p>
                    
                        <fieldset class='datos-cantidad-donar'>
                            <label for="cantidad">Cantidad</label>
                            <input type="cantidad" name="cantidad" id="cantidad" required placeHolder='Ingrese cantidad'>
                            <input type="submit" name="Donar" id="btn-guantes" class='button'value='Donar' onClick="realizar_Donacion(name,id_property,document.getElementbyId('cantidad').value)">
                        <fieldset>
                    
                </div>
                        
            </article>
                        
            <article class="donacion-container--card">
                <div id="mascara" class='img-producto'></div>
                <div class='container-donacion--number'>
                    <p>Mascara</p>
                        <fieldset class='datos-cantidad-donar'>
                            <label for="cantidad">Cantidad</label>
                            <input type="cantidad" name="cantidad" id="cantidad" required placeHolder='Ingrese cantidad'>
                            <input type="submit" name="Donar" id="btn-mascara" class='button'value='Donar' onClick="realizar_Donacion(name,id_property,document.getElementbyId('cantidad').value)">
                        </fieldset>
                    
                </div>
                        
            </article>
                        
            <article class="donacion-container--card">
                <div id="alcohol" class='img-producto'></div>
                <div class='container-donacion--number'>
                    <p>Alcohol </p>
                    
                        <fieldset class='datos-cantidad-donar'>
                            <label for="cantidad">Cantidad</label>
                            <input type="cantidad" name="cantidad" id="cantidad" required placeHolder='Ingrese cantidad'>
                            <input type="submit" name="Donar" id="btn-alcohol" class='button'value='Donar' onClick="realizar_Donacion(name,id_property,document.getElementbyId('cantidad').value)">
                        <fieldset>
                   
                </div>
                        
            </article>
                        
            <article class="donacion-container--card">
                <div id="muletas" class='img-producto'></div>
                <div class='container-donacion--number'>
                    <p>Muletas</p>
                        <fieldset class='datos-cantidad-donar'>
                            <label for="cantidad">Cantidad</label>
                            <input type="cantidad" name="cantidad" id="cantidad" required placeHolder='Ingrese cantidad'>
                            <input type="submit" name="Donar" id="btn-silla" class='button'value='Donar'onClick="realizar_Donacion(name,id_property,document.getElementbyId('cantidad').value)">
                        <fieldset>
                   
                </div>
                        
            </article>
                        
            <article class="donacion-container--card">
                <div id="silla" class='img-producto'></div>
                <div class='container-donacion--number'>
                    <p>Silla </p>
                    
                        <fieldset class='datos-cantidad-donar'>
                            <label for="cantidad">Cantidad</label>
                            <input type="cantidad" name="cantidad" id="cantidad" required placeHolder='Ingrese cantidad'>
                            <input type="submit" name="Donar" id="btn-muletas" class='button'value='Donar' onClick="realizar_Donacion(name,id_property,document.getElementbyId('cantidad').value)">
                        <fieldset>
                    
                </div>
                        
            </article>

            <%# card extraida con get %>
                <% @supplys.each do |resp| %>
                    <article class="donacion-container--card">
                    <div id="producto_sin_foto" class='img-producto'></div>
                    <div class='container-donacion--number'>
                        <p><%= resp["name"] %></p>
                        <fieldset class='datos-cantidad-donar'>
                            <label for="cantidad">Cantidad</label>
                            <input type="cantidad" name="cantidad" id="cantidad" required placeHolder='Ingrese cantidad'>
                            <input type="submit" name="Donar" id="btn-muletas" class='button'value='Donar'
                             onClick="realizar_Donacion(name,id_property,document.getElementbyId('cantidad').value)">
                        <fieldset>                 
                    </div>
                            
                </article>
            <% end%>        

                        
        </section>
    </form>
</div>