<div class='bg-white container mt-5'>
    <div class="mb-5">
        <h1 class="title">Solicitud</h1>
        <p>
            Si necesitas ayuda para conseguir algún tipo de suministro
            médico, revisa nuestro catalogo y solicita aquello que necesites.
            Nosotros y la bondad de la gente te ayudaremos a salir adelante.
        </p>
        <div class="text-center">
            <%=link_to 'Solicitar un producto' , solicitar_new_path, class:"btn bg-btn" %>
        </div>
    </div>

    <div action="" class='form-datos-donador mt-5'>
        <h2 class="title">Lista de productos que puedes solicitar</h2>
        <section class="donacion-container--slider container ">
            <article class="donacion-container--card">
                <div id="tanque" class='img-producto'></div>
                <div class='text-center mt-3 title-img'>
                    <p>Tanque Oxigeno </p>
                </div>
            </article>

            <article class="donacion-container--card">
                <div id="mascarilla" class='img-producto'></div>
                <div class='text-center mt-3 title-img'>
                    <p>Mascarilla </p>

                </div>
            </article>

            <article class="donacion-container--card">
                <div id="guantes" class='img-producto'></div>
                <div class='text-center mt-3 title-img'>
                    <p>Guantes </p>
                </div>
            </article>

            <article class="donacion-container--card">
                <div id="mascara" class='img-producto'></div>
                <div class='text-center mt-3 title-img'>
                    <p>Mascara</p>
                </div>
            </article>

            <article class="donacion-container--card">
                <div id="alcohol" class='img-producto'></div>
                <div class='text-center mt-3 title-img'>
                    <p>Alcohol </p>
                </div>
            </article>

            <article class="donacion-container--card">
                <div id="muletas" class='img-producto'></div>
                <div class='text-center mt-3 title-img'>
                    <p>Muletas</p>
                </div>
            </article>

            <article class="donacion-container--card">
                <div id="silla" class='img-producto'></div>
                <div class='text-center mt-3 title-img'>
                    <p>Silla </p>
                </div>
            </article>

            <%# card extraida con get %>
                <% @prod.each do |resp| %>
                    <article class="donacion-container--card">
                    <div id="producto_sin_foto" class='img-producto'></div>
                    <div class='text-center mt-3 title-img'>
                        <p><%= resp["name"] %> </p>
                    </div>
                            
                </article>
            <% end%> 
        </section>
    </div>

</div>

